# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
myenv/
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
